/.venv
/.vscode
/__pycache__
/*/__pycache__
/*/*/__pycache__
/*/build
/*/dist
/*/main.spec
/*.csv
/*.xlsx
/*.txt
/sudashen.py
/template
/loginfo
/unit_testing/project/temperature_weather_crawler/node_modules
/unit_testing/project/temperature_weather_crawler/KS_Temperature_Line_Chart.html
/unit_testing/project/temperature_weather_crawler/package-lock.json
/unit_testing/project/temperature_weather_crawler/package.json
/unit_testing/project/temperature_weather_crawler/weather.csv